* {
    box-sizing: border-box;
}

button {
    all: unset;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    text-rendering: geometricPrecision;
    -webkit-font-smooth: none;
    user-select: none;
    -webkit-user-select: none;
    font: 24px 'Dogica Pixel';
    line-height: 1.5em;
    color: white;
}

.walkCursor {
    cursor: move;
}

.interactCursor {
    cursor: grab;
}

canvas {
    display: block;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    margin: 0.5em 0;
}

button:hover {}

#renderOutput {
    z-index: 1;
}

#overlay {
    display: none;
}

#interaction {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(0 0 0 / .9);
}

#dialog {
    z-index: 11;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 8em;
    padding: 2em 4em;
    background: rgb(0 0 0 / .9);
}






#interaction p:first-child {
    margin-top: 2rem;
}
#interaction p {
    margin: 1rem 4rem 0 4rem;
}

#devicesInteraction {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 15vh 15vh 15vh;
    align-self: center;
}

#devicesInteraction .cell {
    aspect-ratio: 1;
    border: 2px solid white;
}

#devicesInteraction .cell:hover {
    background: rgb(255 255 255 / .1);
}

#devicesInteraction .cell.on {
    background: rgb(255 255 255 / .5);
}

#devicesInteraction + span {
    font-size: 2rem;
    line-height: 1.5em;
    margin: 1em 0 0 0;
    align-self: center;
}


#safeInteraction {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 12vh 12vh 12vh 12vh;
    grid-gap: 3vh;
    align-self: center;
    text-align: center;
}

#safeInteraction button {
    background: rgb(255 255 255 / 0.3);
    height: 5vh;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}
#safeInteraction button.up {
    transform: scaleY(-1);
}
#safeInteraction button:hover {
    background: rgb(255 255 255 / 0.8);
}

#safeInteraction .digit {
    font-size: 2em;
    line-height: 1.5em;
}

#safeInteraction + span {
    margin: 1.5em 0 0 0;
    align-self: center;
}