@font-face {
    font-family: 'Bebas Neue';
    src: url(../../assets/fonts/bebasNeue.ttf);
}

@font-face {
    font-family: 'Dogica Pixel';
    src: url(../../assets/fonts/dogicaPixel.ttf);
}

html,
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: none;
}

canvas {
    display: block;
    image-rendering: pixelated;
}